{% extends "base.html" %}

{% block title %}Flashcard - {{ flashcardcollection.name }}/Flashcard {{ flashcard.id }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> {{ flashcardcollection.name }} / Flashcard {{ flashcard.id }} </h1>

        <a href="{{ url_for('.edit_flashcard', collId=flashcardcollection.id, cardId=flashcard.id) }}">
            <span class="label label-primary">Edit</span>
        </a>
    </div>
    <div>
        <h2>Question</h2>
        <div class="flashcard-body">
            {% if flashcard.question_html %}
                <p>{{ flashcard.question_html|safe }}</p>
            {% else %}
                <p>{{ flashcard.question }}</p>
            {% endif %}
        </div>
        <h2>Answer</h2>
        <div class="flashcard-body">
            {% if flashcard.answer_html %}
                <p>{{ flashcard.answer_html|safe }}</p>
            {% else %}
                <p>{{ flashcard.answer }}</p>
            {% endif %}
        </div>
        {% if flashcard.hint1 or flashcard.hint1_html %}
            <h2>Hint 1</h2>
            <div class="flashcard-body">
                {% if flashcard.hint1_html %}
                    <p>{{ flashcard.hint1_html|safe }}</p>
                {% else %}
                    <p>{{ flashcard.hint1 }}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if flashcard.hint2 or flashcard.hint2_html %}
            <h2>Hint 2</h2>
            <div class="flashcard-body">
                {% if flashcard.hint2_html %}
                    <p>{{ flashcard.hint2_html|safe }}</p>
                {% else %}
                    <p>{{ flashcard.hint2 }}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if flashcard.hint3 or flashcard.hint3_html %}
            <h2>Hint 3</h2>
            <div class="flashcard-body">
                {% if flashcard.hint3_html %}
                    <p>{{ flashcard.hint3_html|safe }}</p>
                {% else %}
                    <p>{{ flashcard.hint3 }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}