{% extends "base.html" %}

{% block title %}Flashcard - Learning Collection {{ name }}{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1> Studying Collection {{ collection.name }} </h1>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent_done|string }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ percent_done }}%">
                {{ percent_done|string }}% Complete
            </div>
            {% if percent_done == 0 %}
                <p><b>0% Complete</b></p>
            {% endif %}
        </div>
    </div>
    <div>
        <h2>Question:</h2>
        <div class="flashcard-body">
            {% if flashcard.question_html %}
                <p>{{ flashcard.question_html | safe }}</p>
            {% else %}
                <p>{{ flashcard.question }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-md-6 col-md-offset-4">
            <button class="btn btn-primary btn-answer" onclick="showAnswer()" id="show_answer">Show Answer</button>
            <button class="btn btn-info btn-answer" id="show_hint">Show Hint</button>

        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="learn" id="answer">
        <h2>Answer:</h2>
        <div class="flashcard-body">
            {% if flashcard.answer_html %}
                <p>{{ flashcard.answer_html | safe }}</p>
            {% else %}
                <p>{{ flashcard.answer }}</p>
            {% endif %}
        </div>
        <div class="row choiseBtn">
            <div class="col-md-6 col-md-offset-4">
                <a href="{{ url_for('.result', collId=collection.id,cardId=flashcard.id, mode=request.args.get('mode'), performance='again') }}">
                    <span class="btn btn-danger">Again</span>
                </a>
                <a href="{{ url_for('.result', collId=collection.id,cardId=flashcard.id, mode=request.args.get('mode'), performance='good') }}">
                    <span class="btn btn-primary">Good</span>
                </a>
                <a href="{{ url_for('.result', collId=collection.id,cardId=flashcard.id, mode=request.args.get('mode'), performance='easy') }}">
                    <span class="btn btn-success">Easy</span>
                </a>
            </div>
        </div>
    </div>
    {% if flashcard.hint1_html or flashcard.hint1 %}
        <div class="hint" id="hint1" hidden>
            <h2>Hint:</h2>
            <div class="flashcard-body">
                {% if flashcard.hint1_html %}
                    <p>{{ flashcard.hint1_html | safe }}</p>
                {% else %}
                    <p>{{ flashcard.hint1 }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if flashcard.hint2_html or flashcard.hint2 %}
        <div class="hint" id="hint2" hidden>
            <h2>Hint:</h2>
            <div class="flashcard-body">
                {% if flashcard.hint2_html %}
                    <p>{{ flashcard.hint2_html | safe }}</p>
                {% else %}
                    <p>{{ flashcard.hint2 }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if flashcard.hint3_html or flashcard.hint3 %}
        <div class="hint" id="hint3" hidden>
            <h2>Hint:</h2>
            <div class="flashcard-body">
                {% if flashcard.hint3_html %}
                    <p>{{ flashcard.hint3_html | safe }}</p>
                {% else %}
                    <p>{{ flashcard.hint3 }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script>
        $(document).ready(function () {
            var hint_amount = 0;
            var hint_counter = 0;
            $('div[class="hint"]').each(function () {
                hint_amount++;
            });
            if (hint_amount === 0) {
                $('#show_hint').html('No Hints Available');
                $('#show_hint').attr('disabled', 'disabled');
            }
            $('#show_hint').click(function () {
                hint_counter++;
                var id = '#hint' + hint_counter;
                if (hint_counter === (hint_amount + 1)) {
                    $('div[class="hint"]').each(function () {
                        $(this).show();
                        $('#show_hint').html('No More Hints to Show');
                        $('#show_hint').attr('disabled', 'disabled');
                    });
                    return;
                }

                $(id).show();

                if (hint_counter > 1) {
                    var past = hint_counter - 1;
                    var this_id = '#hint' + past;
                    $(this_id).hide();
                }
                if (hint_counter === hint_amount) {
                    $('#show_hint').html('Show All Hints');
                }
                else {
                    $('#show_hint').html('Show More Hints');
                }
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/answer.js') }}"></script>
{% endblock %}